*{
    text-align: left;
font-family: "Goudy Bookletter 1911", sans-serif;  
}

body{
    background-color: rgb(240, 240, 240);

}

.main{
    width:110%;
    position:absolute;
    margin-top: 5em;
    top: 0;
    left:  -1em;
    cursor: pointer;
  }
  
.Popup{
    height: 600px;
    width: 42%;
    background-color: white;
    position: absolute;
    top: 30%;
    right: 44%;
    cursor: pointer;
    border-radius: 20px;

  }

.container{
    display: inline-block;
    align-content: right;
    background-color:rgb(255, 255, 255);
    border-radius: 10px;
}

.Popup-header{
    flex-direction: row;
    justify-content: left;
    left: 0;
    flex: 1;
    text-align: left;
    font-size: 17px;
    font-family: "Goudy Bookletter 1911", sans-serif;
    justify-content: left;
    padding: 0 30px 0 15px;
    cursor: pointer;
  }

  
  

b{
  font-size: 20px;
  
  }
  
h2{
    color: rgba(126, 123, 123, 0.437);
}

h2::before {
    content: "New Message";
    color: black;
    font-Size: 17.5px;  
    margin-left: 1em;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          
}
 
button{
    margin-top: 2.5em;
    cursor: pointer;
    font-size: 16px;
    height: 39px;
    align-items:start;
    border:none;
    flex-direction: row;
    text-align: center;
    align-content: space-evenly;
    width: 160px;
    border-radius: 10px;
    color:#fff;
    background-color: rgba(0, 0, 255, 0.874);
    outline: none;
    margin-left: 32%;
 }
  
button:hover{
    filter:brightness(110%);
    color: black;
  
  }
  
.btn{
    font-size: 17px;
    width:180px ;
    height: 37px; 
    margin-left: -0.2em;
    text-align: left;
    margin-top: 0.5%;
    font-family: "Goudy Bookletter 1911", sans-serif;
    font-weight: lighter;

}

hr {
    border-top: 1px solid; color: rgb(226, 226, 226);;
}

.midvalues{
    color: black;
    display: block; 
    font-size: 15px; 
      
}

small{

    font-size: 16px;
}

text {
    color: rgb(0, 0, 0);
    justify-content: space-evenly;
    Top: 1em;
    font-Size: 14px;
    font-family: "Goudy Bookletter 1911", sans-serif;
    margin-bottom: 6em;
    text-align: left;
}

text::before{
    content:   "From:";
    font-size: 16.5px;
    color: #575757ac;
    margin-left: 1.6em;
    margin-right: 0.5em;
}

text::after{
content:    "CC   BCC";
font-size: 16px;
font-weight:normal;
font-family: "Goudy Bookletter 1911", sans-serif;
color: #757474ac;
}

.request{

font-size: 16px;
margin-left: 2.5em;
font-family: "Goudy Bookletter 1911", sans-serif;
margin-top: 1em;
}

p{
    bottom: 3rem;
    margin-right: 2em;
    font-size: 17px;
    font-family: "Goudy Bookletter 1911", sans-serif;
    margin-left: 2.5em;
    text-indent: 0; 
    text-align:left;
    justify-content: stretch;
    color: rgb(0, 0, 0);        

}

h5{
height: 30px;
left: 1em;
background-color: blue;
color: white;
border-radius: 14px;
text-align: center;
width: 75%;
padding: 2ch;
margin-top: 1em;
font-size: 16px;

}

.modal-footer{
    top: 0px;
    left: 6px;
    width: 623px;
    height: 86px;
    background-color: rgb(246, 246, 246);
    margin-top: 7.6em;
    margin-bottom: 3.8em;
    flex-direction: initial;
    flex: 1;
    align-items: center;
    align-content: space-evenly;
    display: inline-flex;
    border-top: 1px solid; color: rgb(236, 236, 236);
    border-bottom: 1px solid;color: rgb(236, 236, 236);
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px ;
    border-top-right-radius:  5px;
    border-top-left-radius:  5px;
    
}

.fotter-leftside{ 

    display:flex;
    margin-top: -2em;
    text-indent: 20px;
    width: 45em;
    flex-direction:row;
    flex: 1;
    color: rgb(0, 0, 0);
    font-size: 14.5px;
    margin-right: 0px;
    border-radius: 12px;

    
}


ul{ 
    list-style: none;
    color: rgb(145, 143, 143);
    background-color: rgb(255, 255, 255);
    margin: 120px;
    margin-top: 2%;
    margin-left: -10%;
    height: 255px;
    width: 180px;
    border-radius: 10%;
    padding: 2ch;
    font-size: 17px;
    font-family: "Goudy Bookletter 1911", sans-serif;
    cursor: pointer;
}
 

a.active{
    color: rgb(255, 255, 255);
    border-radius: 10%;
    background-color:blue;;
    cursor: pointer;
    font-size: 17.5px;
    font-family: "Goudy Bookletter 1911", sans-serif;
}
.box {
    width: 200px;
    height: 255px;
    padding: 2ch;
    position: relative;
    margin: 130px;
    float: right;
    line-height: 1.8em;
  }
  
.box.arrow-left:after {
    content: " ";
    position: absolute;
    left: -20px;
    top: 95px;
    border-top: 13px solid transparent;
    border-right: 20px solid rgb(255, 255, 255);
    border-left: none;
    border-bottom: 15px solid transparent;
  }

.editor{
 left: -3px;
 width: 250px;
 height: 25px;
 text-align: center;
 margin-left: 55%;


}

  